[packages]
Flask = "*"
requests = "*"
pandas = "*"
numpy = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
marshmallow = "*"
sympy = "*"
scipy = "*"
lmfit = "*"
scikit-learn = "*"
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
statsmodels = "*"
numdifftools = "*"
requests = "*"

[dev-packages]
pytest = "==6.2.2"

[requires]
python_version = "3.10"
