[packages]

Flask = "*"
requests = "*"
pandas = "*"
numpy = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]
pytest = "==6.2.2"

[requires]
python_version = "3.10"
